<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MonkeyModdingTroop" value="https://nuget.pkg.github.com/MonkeyModdingTroop/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <MonkeyModdingTroop>
      <add key="Username" value="" />
      <add key="ClearTextPassword" value="" />
    </MonkeyModdingTroop>
  </packageSourceCredentials>
</configuration>